<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <title>YANG JINGBO HOME PAGE</title>
  </head>
  <body>
    <div id="container" class="">

      <div id="header-wrapper">

        <div id="header" class="">
          <h1>YANG JINGBO'S PAGE</h1>
        </div>

        <!-- <div id="add-item" class="">
          <form id="item-form" class="" action="" method="post">
            <input id="new-item" type="text" name="new_item" autofocus>
            <button id="sumbit-item" type="submit"> Add </button>
          </form>
        </div>

      </div>

      <div id="item-list-wrapper" class="">
        <ol id="item-list">

        </ol>
      </div> -->



      <div id="footer-wrapper" class="">
        <small id="footer">苏ICP备18042592号-1</small>
      </div>

    </div>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
